{
  "extends": "./node_modules/core-commons/shared/eslint.json",
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-console": "off",
    "no-process-exit": "off",
    "node/shebang": "off",
    "security/detect-child-process": "off",
    "security/detect-non-literal-require": "off"
  },
  "overrides": [
    { "files": ["lib/index.test.js"], "rules": { "jest/no-export": ["warn"] } }
  ]
}
